html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #252828;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}

.author {
    display: flex;
    align-items: flex-start;
}

.author__description {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.author__description--with-margin {
    margin-bottom: 22px; 
}

.author__info {
    margin-bottom: 24px;
}

.author__link {
    text-decoration: none;
    color: #ed6d05;
}
.author__link-instagram {
    text-decoration: none;
    color: #e20613;
}

.author__name {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
}
.author__future-position {
    font-size: 18px;
    color: #252828;
    margin: 0;
    font-style: italic;
}

.author__picture {
    margin-right: 32px;
}
